/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	padding         :   1.50pt;
	}
.cc02               { /* Common */
	font            : 9pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc03               { /* Common */
	border          :   0.00pt solid #ffffff;
	}
.cc04               { /* Common */
	border          :   0.00pt solid #000000;
	}
.cc05               { /* Common */
	clip            : rect(0.00pt,15.00pt,15.00pt,0.00pt);
	}
.cc06               { /* Common */
	border          :   0.00pt solid #808080;
	}
.cc07               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc08               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc09               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc10               { /* Common */
	clip            : rect(0.00pt,45.00pt,16.50pt,0.00pt);
	}
.cc11               { /* Common */
	clip            : rect(0.00pt,45.00pt,9.75pt,0.00pt);
	}
.cc12               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : right;
	}
.cc13               { /* Common */
	border          :   0.00pt solid #808080;
	clip            : rect(0.00pt,569.25pt,0.75pt,0.00pt);
	}
.cc14               { /* Common */
	font            : 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc15               { /* Common */
	border          :   0.00pt solid #808080;
	clip            : rect(0.00pt,309.00pt,0.75pt,0.00pt);
	}
.cc16               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	}
.cc17               { /* Common */
	clip            : rect(0.00pt,12.00pt,12.00pt,0.00pt);
	}
.cc18               { /* Common */
	clip            : rect(0.00pt,9.00pt,9.00pt,0.00pt);
	}
.cc19               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc20               { /* Common */
	border          :   0.00pt solid #000000;
	clip            : rect(0.00pt,557.25pt,15.00pt,0.00pt);
	}
.cc21               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
input#e65           { /* Text text_box  */
	position        : absolute;
	left            : 468.00pt;
	top             :   1.50pt;
	width           : 120.75pt;
	}
div#e76             { /* Contáctenos: +52 (818) 3... */
	position        : absolute;
	left            : 440.25pt;
	top             :   4.50pt;
	width           : 153.00pt;
	height          :  12.75pt;
	}
div#e73             { /* Entrar */
	text-align      : left;
	position        : absolute;
	left            :   6.00pt;
	top             :   5.25pt;
	width           :  30.75pt;
	height          :  11.25pt;
	}
div#e71             { /* Mi Cuenta */
	text-align      : left;
	position        : absolute;
	left            :  35.25pt;
	top             :   5.25pt;
	width           :  51.00pt;
	height          :  13.50pt;
	}
div#e70             { /* Ver Carrito */
	text-align      : left;
	position        : absolute;
	left            :  80.25pt;
	top             :   5.25pt;
	width           :  45.75pt;
	height          :  12.75pt;
	}
div#e69             { /* Soporte */
	text-align      : left;
	position        : absolute;
	left            : 131.25pt;
	top             :   5.25pt;
	width           :  45.75pt;
	height          :  12.75pt;
	}
div#e68             { /* Contactenos */
	text-align      : left;
	position        : absolute;
	left            : 176.25pt;
	top             :   5.25pt;
	width           :  57.75pt;
	height          :  15.00pt;
	}
div#e67             { /* Suscribase */
	text-align      : left;
	position        : absolute;
	left            : 249.75pt;
	top             :   5.25pt;
	width           :  45.75pt;
	height          :  12.75pt;
	}
div#e66             { /* Buscar */
	text-align      : right;
	position        : absolute;
	left            : 426.00pt;
	top             :   5.25pt;
	width           :  36.75pt;
	height          :  13.50pt;
	}
span#e77            { /* images/hdd-08a-p001037.g... */
	background      : transparent url(images/hdd-08a-p001037.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :  18.75pt;
	width           : 600.00pt;
	height          :  79.50pt;
	}
span#e72            { /* images/hdd-08a-p001035.g... */
	background      : transparent url(images/hdd-08a-p001035.gif) no-repeat top left;
	position        : absolute;
	left            :   6.75pt;
	top             :  30.00pt;
	width           :  76.50pt;
	height          :  63.75pt;
	}
span#e64            { /* images/hdd-08a-p001034.g... */
	background      : transparent url(images/hdd-08a-p001034.gif) no-repeat top left;
	position        : absolute;
	left            : 131.25pt;
	top             :  58.50pt;
	width           : 454.50pt;
	height          :  27.00pt;
	}
span#e59            { /* images/hdd-08a-p001032.g... */
	background      : transparent url(images/hdd-08a-p001032.gif) no-repeat top left;
	position        : absolute;
	left            : 515.25pt;
	top             :  64.50pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
span#e60            { /* images/hdd-08a-p001033.g... */
	background      : transparent url(images/hdd-08a-p001033.gif) no-repeat top left;
	position        : absolute;
	left            : 541.50pt;
	top             :  64.50pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
div#e61             { /* Inicio */
	color           : #000000;
	position        : absolute;
	left            : 132.00pt;
	top             :  66.00pt;
	width           :  53.25pt;
	height          :  13.50pt;
	}
div#e63             { /* Productos */
	color           : #000000;
	position        : absolute;
	left            : 184.50pt;
	top             :  66.00pt;
	width           :  53.25pt;
	height          :  13.50pt;
	}
div#e62             { /* Servicios */
	color           : #000000;
	position        : absolute;
	left            : 242.25pt;
	top             :  66.00pt;
	width           :  53.25pt;
	height          :  13.50pt;
	}
div#e58             { /* Siganos */
	text-align      : right;
	position        : absolute;
	left            : 446.25pt;
	top             :  67.50pt;
	width           :  54.00pt;
	height          :  12.75pt;
	}
span#e57            { /* images/hdd-08a-p001031.g... */
	background      : transparent url(images/hdd-08a-p001031.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :  96.75pt;
	width           : 600.00pt;
	height          :  24.00pt;
	}
h4#e78              { /* Karaoke Player Profesion... */
	text-align      : left;
	position        : absolute;
	left            : 277.50pt;
	top             : 123.00pt;
	width           : 309.00pt;
	height          :  69.75pt;
	}
span#e51            { /* images/hdd-08a-p001026.g... */
	background      : transparent url(images/hdd-08a-p001026.gif) no-repeat top left;
	position        : absolute;
	left            : 264.00pt;
	top             : 126.00pt;
	width           :   0.75pt;
	height          : 375.75pt;
	}
div#e50             { /* El Karaoke Player Profes... */
	position        : absolute;
	left            : 280.50pt;
	top             : 196.50pt;
	width           : 297.75pt;
	height          : 227.25pt;
	}
span#e4             { /* images/KJB01-Perspective-Frente2.g... */
	background      : transparent url(images/KJB01-Perspective-Frente2.gif) no-repeat top left;
	position        : absolute;
	left            :  32.25pt;
	top             : 118.00pt;
	width           : 259.50pt;
	height          : 301.50pt;
	}
img#e46             { /* images/hdd-08a-p001013.g... */
	position        : absolute;
	left            : 223.50pt;
	top             : 371.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e52             { /* Galeria de imagenes */
	position        : absolute;
	left            :  22.50pt;
	top             : 427.50pt;
	width           :  93.00pt;
	height          :  15.75pt;
	}
span#e41            { /* images/hdd-08a-p001024.g... */
	background      : transparent url(images/hdd-08a-p001024.gif) no-repeat top left;
	position        : absolute;
	left            : 276.00pt;
	top             : 429.75pt;
	width           : 312.00pt;
	height          :  77.25pt;
	}
div#e39             { /* Informacion para ordenar */
	position        : absolute;
	left            : 285.00pt;
	top             : 438.00pt;
	width           : 114.00pt;
	height          :  14.25pt;
	}
span#e56            { /* images/hdd-08a-p001030.g... */
	background      : transparent url(images/hdd-08a-p001030.gif) no-repeat top left;
	position        : absolute;
	left            :  23.25pt;
	top             : 441.75pt;
	width           :  52.50pt;
	height          :  51.75pt;
	}
span#e55            { /* images/hdd-08a-p001029.g... */
	background      : transparent url(images/hdd-08a-p001029.gif) no-repeat top left;
	position        : absolute;
	left            :  81.00pt;
	top             : 441.75pt;
	width           :  52.50pt;
	height          :  51.75pt;
	}
span#e54            { /* images/hdd-08a-p001028.g... */
	background      : transparent url(images/hdd-08a-p001028.gif) no-repeat top left;
	position        : absolute;
	left            : 138.00pt;
	top             : 441.75pt;
	width           :  52.50pt;
	height          :  51.75pt;
	}
span#e53            { /* images/hdd-08a-p001027.g... */
	background      : transparent url(images/hdd-08a-p001027.gif) no-repeat top left;
	position        : absolute;
	left            : 195.75pt;
	top             : 441.75pt;
	width           :  52.50pt;
	height          :  51.75pt;
	}
span#e5             { /* images/hdd-08a-p001003.g... */
	background      : transparent url(images/Bottom_side_perspective.gif) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 450.75pt;
	width           :  45.00pt;
	height          :  35.25pt;
	}
span#e8             { /* images/hdd-08a-p001006.g... */
	background      : transparent url(images/hdd-08a-p001006.gif) no-repeat top left;
	position        : absolute;
	left            : 141.75pt;
	top             : 455.25pt;
	width           :  45.00pt;
	height          :  26.25pt;
	}
div#e40             { /* No. Articulo:     HDD-08... */
	position        : absolute;
	left            : 285.00pt;
	top             : 455.25pt;
	width           : 288.75pt;
	height          :  44.25pt;
	}
span#e7             { /* images/hdd-08a-p001005.g... */
	background      : transparent url(images/hdd-08a-p001004.gif) no-repeat top left;
	position        : absolute;
	left            :  84.75pt;
	top             : 462.00pt;
	width           :  45.00pt;
	height          :  16.50pt;
	}
span#e6             { /* images/hdd-08a-p001004.g... */
	background      : transparent url(images/hdd-08a-p001004.gif) no-repeat top left;
	position        : absolute;
	left            : 199.50pt;
	top             : 465.00pt;
	width           :  45.00pt;
	height          :   9.75pt;
	}
div#e3              { /* Ver Accesorios ... */
	position        : absolute;
	left            : 501.00pt;
	top             : 485.25pt;
	width           :  74.25pt;
	height          :  13.50pt;
	}
img#e15             { /* images/hdd-08a-p001013.g... */
	position        : absolute;
	left            :  42.75pt;
	top             : 495.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e49             { /* images/hdd-08a-p001013.g... */
	position        : absolute;
	left            : 102.75pt;
	top             : 495.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e48             { /* images/hdd-08a-p001013.g... */
	position        : absolute;
	left            : 157.50pt;
	top             : 495.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e47             { /* images/hdd-08a-p001013.g... */
	position        : absolute;
	left            : 216.00pt;
	top             : 495.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e42            { /* images/hdd-08a-p001025.g... */
	background      : transparent url(images/hdd-08a-p001025.gif) no-repeat top left;
	position        : absolute;
	left            :  13.50pt;
	top             : 517.50pt;
	width           : 569.25pt;
	height          :   0.75pt;
	}
div#e43             { /* Especificaciones */
	position        : absolute;
	left            :  27.75pt;
	top             : 524.25pt;
	width           : 121.50pt;
	height          :  19.50pt;
	}
div#e36             { /* Qué Incluye la Caja */
	position        : absolute;
	left            : 279.75pt;
	top             : 524.25pt;
	width           : 135.00pt;
	height          :  19.50pt;
	}
span#e9             { /* images/hdd-08a-p001007.g... */
	background      : transparent url(images/hdd-08a-p001007.gif) no-repeat top left;
	position        : absolute;
	left            : 464.50pt;
	top             : 544.25pt;
	width           :  60.00pt;
	height          :  37.50pt;
	}
span#e11            { /* images/hdd-08a-p001009.g... */
	background      : transparent url(images/hdd-08a-p001009.gif) no-repeat top left;
	position        : absolute;
	left            : 519.00pt;
	top             : 524.25pt;
	width           :  67.50pt;
	height          :  77.25pt;
	}
span#e34            { /* images/hdd-08a-p001021.g... */
	background      : transparent url(images/hdd-08a-p001021.gif) no-repeat top left;
	position        : absolute;
	left            : 263.25pt;
	top             : 525.75pt;
	width           :   0.75pt;
	height          : 210.75pt;
	}
span#e12            { /* images/hdd-08a-p001010.g... */
	background      : transparent url(images/hdd-08a-p001010.gif) no-repeat top left;
	position        : absolute;
	left            : 485.00pt;
	top             : 584.75pt;
	width           :  48.00pt;
	height          :  57.00pt;
	}
div#e45             { /* Marca:\ \Modelo:\ \Descr... */
	position        : absolute;
	left            :  18.75pt;
	top             : 549.75pt;
	width           : 104.25pt;
	height          : 191.25pt;
	}
div#e44             { /* Hi-Mikser \ \HDD-08A-P /... */
	position        : absolute;
	left            : 132.00pt;
	top             : 549.75pt;
	width           : 116.25pt;
	height          : 191.25pt;
	}
div#e32             { /* <DIV>-&nbsp; Karaoke Pla... */
	position        : absolute;
	left            : 270.00pt;
	top             : 549.75pt;
	width           : 153.75pt;
	height          :  81.75pt;
	}
span#e10            { /* images/hdd-08a-p001008.g... */
	background      : transparent url(images/hdd-08a-p001008.gif) no-repeat top left;
	position        : absolute;
	left            : 408.00pt;
	top             : 559.50pt;
	width           :  30.00pt;
	height          :  48.75pt;
	}
span#e13            { /* images/hdd-08a-p001011.g... */
	background      : transparent url(images/KJB01_lineart.gif) no-repeat top left;
	position        : absolute;
	left            : 433.50pt;
	top             : 553.75pt;
	width           : 138.75pt;
	height          : 101.00pt;
	}
span#e14            { /* images/hdd-08a-p001012.g... */
	background      : transparent url(images/hdd-08a-p001012.gif) no-repeat top left;
	position        : absolute;
	left            : 546.50pt;
	top             : 606.00pt;
	width           :  30.00pt;
	height          :  34.50pt;
	}
span#e35            { /* images/hdd-08a-p001022.g... */
	background      : transparent url(images/hdd-08a-p001022.gif) no-repeat top left;
	position        : absolute;
	left            : 273.00pt;
	top             : 659.25pt;
	width           : 309.00pt;
	height          :   0.75pt;
	}
div#e33             { /* Recursos: */
	position        : absolute;
	left            : 279.75pt;
	top             : 666.75pt;
	width           :  79.50pt;
	height          :  19.50pt;
	}
img#e26             { /* images/hdd-08a-p001020.g... */
	position        : absolute;
	left            : 272.25pt;
	top             : 690.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
img#e18             { /* images/hdd-08a-p001015.g... */
	position        : absolute;
	left            : 432.75pt;
	top             : 690.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e23             { /* - Como Extraer Canciones... */
	position        : absolute;
	left            : 444.75pt;
	top             : 690.75pt;
	width           : 144.75pt;
	height          :  13.50pt;
	}
div#e29             { /* - Manual del Usuario */
	position        : absolute;
	left            : 284.25pt;
	top             : 691.50pt;
	width           :  81.75pt;
	height          :  12.75pt;
	}
img#e24             { /* images/hdd-08a-p001018.g... */
	position        : absolute;
	left            : 272.25pt;
	top             : 705.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
span#e21            { /* images/hdd-08a-p001017.g... */
	background      : transparent url(images/hdd-08a-p001017.gif) no-repeat top left;
	position        : absolute;
	left            : 432.75pt;
	top             : 705.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e22             { /* - Copiar Archivos MP3 a ... */
	position        : absolute;
	left            : 446.25pt;
	top             : 705.75pt;
	width           : 143.25pt;
	height          :  12.00pt;
	}
div#e28             { /* - Folleto Comercial */
	position        : absolute;
	left            : 284.25pt;
	top             : 706.50pt;
	width           :  81.75pt;
	height          :  12.00pt;
	}
img#e1              { /* images/hdd-08a-p001001.g... */
	position        : absolute;
	left            : 272.25pt;
	top             : 719.25pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
span#e19            { /* images/hdd-08a-p001016.g... */
	background      : transparent url(images/hdd-08a-p001016.gif) no-repeat top left;
	position        : absolute;
	left            : 432.75pt;
	top             : 720.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e20             { /* - Como Cambiar Tono o El... */
	position        : absolute;
	left            : 446.25pt;
	top             : 720.00pt;
	width           : 141.00pt;
	height          :  21.75pt;
	}
div#e2              { /* - Presentacion PPT */
	position        : absolute;
	left            : 284.25pt;
	top             : 720.75pt;
	width           :  81.75pt;
	height          :  12.00pt;
	}
span#e25            { /* images/hdd-08a-p001019.g... */
	background      : transparent url(images/hdd-08a-p001019.gif) no-repeat top left;
	position        : absolute;
	left            : 433.50pt;
	top             : 733.50pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e17             { /* - Preguntas Frecuentes (... */
	position        : absolute;
	left            : 284.25pt;
	top             : 734.25pt;
	width           : 114.00pt;
	height          :  12.00pt;
	}
div#e27             { /* - Instalando su equipo */
	position        : absolute;
	left            : 446.25pt;
	top             : 734.25pt;
	width           :  81.75pt;
	height          :  12.00pt;
	}
span#e16            { /* images/hdd-08a-p001014.g... */
	background      : transparent url(images/hdd-08a-p001014.gif) no-repeat top left;
	position        : absolute;
	left            : 272.25pt;
	top             : 735.00pt;
	width           :   9.00pt;
	height          :   9.00pt;
	}
span#e38            { /* images/hdd-08a-p001023.g... */
	background      : transparent url(images/hdd-08a-p001023.gif) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             : 747.00pt;
	width           : 569.25pt;
	height          :   0.75pt;
	}
div#e37             { /* Descripcion de Funciones */
	position        : absolute;
	left            :  27.75pt;
	top             : 756.75pt;
	width           : 173.25pt;
	height          :  19.50pt;
	}
div#e30             { /* »\ \\ \\ \»\ \\ \»<br */
	position        : absolute;
	left            :  27.75pt;
	top             : 779.25pt;
	width           :  15.00pt;
	height          : 590.25pt;
	}
div#e31             { /* Selección de canciones m... */
	position        : absolute;
	left            :  42.75pt;
	top             : 780.75pt;
	width           : 533.25pt;
	height          : 590.25pt;
	}
span#e75            { /* images/hdd-08a-p001036.g... */
	background      : transparent url(images/hdd-08a-p001036.gif) no-repeat top left;
	position        : absolute;
	left            :  27.75pt;
	top             :1388.25pt;
	width           : 557.25pt;
	height          :  15.00pt;
	}
div#e74             { /* <DIV>©2011-2013 Audio &a... */
	position        : absolute;
	left            :  75.75pt;
	top             :1414.50pt;
	width           : 465.75pt;
	height          :  80.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	position        : relative;
	width           : 600.00pt;
	height          :1500.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
